[package]
name = "graffiti"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = "0.4.39"
clap = { version = "4.5.21", features = ["derive"] }
dirs = "6.0.0"
serde = { version = "1.0.215", features = ["derive"] }
serde_json = "1.0.133"

[dev-dependencies]
fluid = "0.4"
